body{
    background: #fffff8;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#app{
    height: 100%;
    display: flex;
    flex-direction: column;
    border: #11698e 1px solid;
    background-color: #225685;
    border-radius: 30px;
    margin: 10px;
    align-items: center;
    justify-content: center;
    /* grid-gap: 1em; */
    font-size: 20px;
    box-shadow: 0 10px 20px 0 #11698e;
    font-family: 'Oswald', sans-serif;
}

.title {
    width: 100%;
    text-align: center;
    text-shadow: 1px 1px #11698e;
    font-size: 26px;
    color: #10ad86;
    font-weight: bold;
    margin-top: 1.5em;
    margin-bottom: 1em;
}

.input {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 250px;
    text-align: center;
    word-wrap: normal;
    margin: 0px;
}

.entry {
    text-align: center;
    display: flex;
    flex-direction: column;
    word-wrap: normal;
    margin-top: 15px;
    margin-bottom: 5px;
}

#zip, #countryCode, #date  {
    width: 80%;
    height: 20px;
    border-radius: 10px;
    text-align: center;
    border: #d3e0df 1px solid;
    box-shadow: 0 1px 1px 0 #eee;
    margin: 15px 0px;
}

#journal {
    width: 80%;
    height: 100px;
    border-radius: 10px;
    text-align: center;
    border: #d3e0df 1px solid;
    box-shadow: 0 1px 1px 0 #eee;
    word-wrap: normal;
    margin: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#location {
    font-size: 20px;
    color:#0c9775;
    margin-bottom: 10px;
}

#temp {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}

#addEntry {
    width: 60px;
    height: 60px;
    font-size: 12px;
    border-radius: 30px;
    border: #11698e 3px solid;
    background-color:#0c9775;
    color: rgb(7, 7, 7);
    margin-top: 30px;
    margin-bottom: 10px;
    transition: width 1s height 2s;
    color: #eee
}

#addEntry:hover {
    width: 64px;
    height: 64px;
    border-radius: 32px;
    border: #f8f1f1 3px solid;
    font-size: large;
}


/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

@media screen and (min-width: 350px) {
    #app {
        width: 300px;
        margin: auto;
        margin-top: auto;
    }
}